@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.titulo {
  color: white;
 
  text-align: center;

  text-transform: uppercase;

  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
  font-weight: normal;
  width: 1583px;
  height: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  font-size: 50px;
  margin-top: 0;
}