.h2 {
  color: white;
  padding: 3rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}

.oneHalfColumn {
  -webkit-text-size-adjust: 100%;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  color: #222;
  font-family: sans-serif;
  float: left;
  box-sizing: border-box;
  margin-left: 0;
  width: 48%;
  
}

.row{
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: #222;
  font-family: sans-s
}