

.body {
    padding: 20px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420.8px, 1fr));
    gap: 20px;
  }
  
  .cards {
    width: 420.8px;
    height: 249px;
    padding: 20px;
    background: white;
    border-bottom: 1px solid #e1e1e1;
    color: black;
    margin-bottom: 20px;
    border-radius: 16px;
    margin-left: 38.391px;
  }
  